<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>
<HEAD>
	<TITLE>Conference Rooms - %%%today_text%%%</TITLE>
</HEAD>

<BODY bgcolor="white" text="black" link="blue" vlink="green" alink="red">

[
<a href="%%%reserve_link%%%">Reserve a room</a> |
<a href="%%%script_name%%%?action=Display&today=%%%yesterday%%%">Previous day</a> |
<a href="%%%script_name%%%?action=Display&today=%%%tomorrow%%%">Next day</a>
]

<p>
<h3>%%%today_text%%%</h3>
<table border>
%%%table%%%
</table>


</BODY>
</HTML>
